<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../Static/SecondServings_CSS.css">
  <meta charset="UTF-8">
  <title>Second Servings- Approved Update Amount</title>
  <link rel="icon" type="image/x-icon" href="../Static/images/logo.png">
</head>
<body>
<img src="../Static/images/logo.png" alt="logo" class="icon">
<h2>Second</h2>
<h2>Servings</h2>
<div class="container_NoBlur">
  <div class="image-container">
    <img src="../Static/images/logo.png" alt="logo" width="200">
  </div>

  <div class="row">
    <label id="label12">Thank you for your update!</label>
  </div>

  <button id="button_OK">OK!</button>
</div>

<script src="../Static/JS_ApprovedPickup.js"></script>
</body>
</html>
