<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Second Servings- Update Amount</title>
  <link rel="stylesheet" href="../Static/SecondServings_CSS.css">
  <link rel="icon" type="image/x-icon" href="../Static/images/logo.png">
</head>
<body>
<div id="menu"></div>

<img src="../Static/images/logo.png" alt="logo" class="icon">
<h2>Second Servings</h2>
<div class="container">
  <input type="text" id="username" class="data" readonly>
  <div class="row">
    <div class="input-group_viewPost">
      <img src="../Static/images/location.png" alt="logo" width="45" height="55">
      <input type="text" id="address" class="data_readonly" readonly>
    </div>
  </div>
  <img id="image" src="../Static/images/food2.jpg" height="250em" width="250em">
  <label>Enter amount left:</label>
  <input type="number" id="amount" value="1" min="1" class="textbox_short">

  <button id="button_update">Update</button>
</div>
<footer>
  Second Servings | Tel: +972-524366539 | Email: secondServings@gmail.com
</footer>
<button id="button5">Back</button>
<script src="../Static/JS_updateAmount.js" type="module"></script>
</body>
</html>
