doctype html
head
  link(rel='stylesheet' href='../Static/SecondServings_CSS.css')
nav
  ul
    li
      a(href='HomePage_User') Home Page
    li
      a(href='postYourFood') Post Your Food
    li
      a(href='Search') Search Pick-up
    li
      a(href='YourProfile') My Profile
    li
      a(href='LogOut') Log-out