doctype html
head
  link(rel='stylesheet' href='../Static/SecondServings_CSS.css')
nav
  ul
    li
      a(href='/') Home Page
    li
      a(href='/PostYourFood') Post Your Food
    li
      a(href='/Search') Search Pick-up
    li
      a(href='/SignUp') Sign-up
    li
      a(href='/log-in') Log-in